@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?km1uki');
  src:  url('../fonts/icomoon.eot?km1uki#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?km1uki') format('truetype'),
    url('../fonts/icomoon.woff?km1uki') format('woff'),
    url('../fonts/icomoon.svg?km1uki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cx-s:before {
  content: "\e933";
}
.icon-icon-bj:before {
  content: "\e91f";
}
.icon-icon-bd:before {
  content: "\e920";
}
.icon-icon-cj:before {
  content: "\e921";
}
.icon-icon-zt:before {
  content: "\e922";
}
.icon-icon-jn:before {
  content: "\e923";
}
.icon-icon-wk:before {
  content: "\e924";
}
.icon-icon-more:before {
  content: "\e925";
}
.icon-icon-hd:before {
  content: "\e926";
}
.icon-icon-kc:before {
  content: "\e927";
}
.icon-icon-llq:before {
  content: "\e928";
}
.icon-icon-msjt:before {
  content: "\e929";
}
.icon-icon-qj:before {
  content: "\e92a";
}
.icon-icon-sz:before {
  content: "\e92b";
}
.icon-icon-sc:before {
  content: "\e92c";
}
.icon-icon-sy:before {
  content: "\e92d";
}
.icon-icon-txl:before {
  content: "\e92e";
}
.icon-icon-tongz:before {
  content: "\e92f";
}
.icon-icon-tk:before {
  content: "\e930";
}
.icon-icon-live:before {
  content: "\e931";
}
.icon-icon-kq:before {
  content: "\e932";
}
.icon-icon-xx:before {
  content: "\e937";
}
.icon-icon-xz:before {
  content: "\e938";
}
.icon-icon-xw:before {
  content: "\e939";
}
.icon-icon-office:before {
  content: "\e93a";
}
.icon-icon-yy:before {
  content: "\e93b";
}
.icon-icon-yj:before {
  content: "\e93c";
}
.icon-icon-yp:before {
  content: "\e93d";
}
.icon-icon-sp:before {
  content: "\e93e";
}
.icon-icon-zy:before {
  content: "\e93f";
}
.icon-bj-s:before {
  content: "\e901";
}
.icon-bd-s:before {
  content: "\e902";
}
.icon-cj-s:before {
  content: "\e903";
}
.icon-zt-s:before {
  content: "\e904";
}
.icon-jn-s:before {
  content: "\e905";
}
.icon-wk-s:before {
  content: "\e906";
}
.icon-more-s:before {
  content: "\e907";
}
.icon-hd-s:before {
  content: "\e908";
}
.icon-kc-s:before {
  content: "\e909";
}
.icon-llq-s:before {
  content: "\e90a";
}
.icon-msjt-s:before {
  content: "\e90b";
}
.icon-qj-s:before {
  content: "\e90c";
}
.icon-sz-s:before {
  content: "\e90d";
}
.icon-sc-s:before {
  content: "\e90e";
}
.icon-sy-s:before {
  content: "\e90f";
}
.icon-txl-s:before {
  content: "\e910";
}
.icon-tongz-s:before {
  content: "\e911";
}
.icon-tk-s:before {
  content: "\e912";
}
.icon-live-s:before {
  content: "\e913";
}
.icon-kq-s:before {
  content: "\e914";
}
.icon-xx-s:before {
  content: "\e916";
}
.icon-xz-s:before {
  content: "\e917";
}
.icon-xw-s:before {
  content: "\e918";
}
.icon-office-s:before {
  content: "\e919";
}
.icon-yy-s:before {
  content: "\e91a";
}
.icon-yj-s:before {
  content: "\e91b";
}
.icon-yp-s:before {
  content: "\e91c";
}
.icon-sp-s:before {
  content: "\e91d";
}
.icon-zy-s:before {
  content: "\e91e";
}
.icon-bj:before {
  content: "\e936";
}
.icon-bd:before {
  content: "\e953";
}
.icon-cj:before {
  content: "\e954";
}
.icon-zt:before {
  content: "\e955";
}
.icon-jn:before {
  content: "\e956";
}
.icon-wk:before {
  content: "\e960";
}
.icon-more:before {
  content: "\e961";
}
.icon-hd:before {
  content: "\e962";
}
.icon-kc:before {
  content: "\e963";
}
.icon-llq:before {
  content: "\e964";
}
.icon-msjt:before {
  content: "\e965";
}
.icon-qj:before {
  content: "\e966";
}
.icon-sz:before {
  content: "\e967";
}
.icon-sc:before {
  content: "\e968";
}
.icon-sy:before {
  content: "\e969";
}
.icon-txl:before {
  content: "\e96a";
}
.icon-tongz:before {
  content: "\e96b";
}
.icon-tk:before {
  content: "\e96c";
}
.icon-live:before {
  content: "\e96d";
}
.icon-kq:before {
  content: "\e96e";
}
.icon-xx:before {
  content: "\e96f";
}
.icon-xz:before {
  content: "\e970";
}
.icon-xw:before {
  content: "\e971";
}
.icon-office:before {
  content: "\e972";
}
.icon-yy:before {
  content: "\e973";
}
.icon-yj:before {
  content: "\e974";
}
.icon-yp:before {
  content: "\e975";
}
.icon-sp:before {
  content: "\e976";
}
.icon-zy:before {
  content: "\e977";
}
.icon-back:before {
  content: "\e95f";
}
.icon-down:before {
  content: "\e915";
}
.icon-uniE900:before {
  content: "\e900";
}
.icon-h-arrow-l:before {
  content: "\e98a";
}
